.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  letter-spacing: 5px;
  padding:0.5px;
  min-width: 3px;
  text-shadow: 3px 3px rgba(39, 206, 53, 0.266);


}

.text-animate-hover {
  display: inline-block;
  animation-fill-mode: both;
  letter-spacing: 5px;
  padding:0.5px;
  min-width: 3px;
  text-shadow: 3px 3px rgba(39, 206, 53, 0.266);


  &:hover {
    animation: rubberBand 1s;
    color: #ffd700;
  }
}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
